* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  background: none;
  border: none;
}

select {
  background: none;
  border: 0.05rem solid #DBDBDB;
  border-radius: 5px;
  outline: none;
  width: 12rem;
  padding: 0 0.2rem;
}


.App {
  background-color: #F4F5F8;
  min-height: 100vh;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  background-color: #fff;
}

.group-container {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  gap: 5rem;
  padding: 0 100px;
}

.group {
  flex: 1;
  text-align: center;
}